@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --bg:#0d0c22;
  --text: white;
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}
body{
  background-color: #0d0c22;
  color: white;
  font-family: 'Montserrat', sans-serif;
}