.container{
  min-width: 100px;
  padding: 10px 12px;
  border-radius: 20px;
  font-weight: 500;
}

.active{
  background-color: var(--text);
  color: var(--bg);
  transition:  all 0.4s ease-in-out;
}